@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

li, a{
    text-decoration: none;
    list-style: none;
    color: white;
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: 700;
}

.topo-menu ul{
    display: flex;
}
.topo-menu li{
    margin: 15px 21px;
}

.topo-menu{
    /* border: 1px solid purple; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.topo{
    /* border: 3px solid purple; */
    background-color:#2E948A;
    width: 100vw;
    min-height: 15vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 100px;
    align-items: center;
    align-content: center;
    position: relative;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
}

.topo h1{
    position: absolute;
    visibility: hidden;
}

.topo-logo{
    /* border: 1px solid purple; */
    display: flex;
    align-items: center;
}

.topo-menu li:hover{
    font-size: 1.5em;
    transition: 0.3s;
}

.conteudo-principal{
   padding: 50px;
}

.topo .menu-icon{
    visibility: hidden;
    position: absolute;
}

.rodape{
    min-height: 29vh;
    background-color:#2E948A;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* .rodape .rodape-menu{
    border: 1px solid red;
}

.rodape-logo{
    border: 1px solid red;
} */

/* .rodape .rodape-button{
    border: 1px solid red;
} */

.rodape .rodape-menu li{
    font-weight: 400;
    text-transform: lowercase;
    padding: 5px;
}

.rodape .rodape-button input{
    cursor: pointer;
    padding: 10px;
    margin: 5px;
    width: 289px;
    display: block;
    border: 2px solid #FFFFFF;
    font-size: 1.2em;
    color: #FFFFFF;
    background-color:#2E948A;
    border-radius: 62px;
    text-transform: lowercase;
}

.conteudo-principal #titulo-cursos{
    padding: 50px;
    /* border: 1px solid black; */
}

.conteudo-principal #titulo-cursos h1{
    text-transform: capitalize;
    font-weight: 700;
    font-size: 60px;
    line-height: 69px;
    color: #FF4081;
}
.conteudo-principal #titulo-cursos p{
    font-weight: 400;
    font-size: 20px;
    color: #555555;
}

.conteudo-principal .caixa{
    padding: 50px;
    /* border: 5px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.conteudo-principal .caixa img{
    /* border: 1px solid black; */
    width: fit-content;
    height: 50vh;
}

.conteudo-principal .caixa #caixa-texto{
    /* border: 3px solid black; */
    /* padding: 30px; */
    width: 45vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-content:  */
    height: 50vh;
}


.conteudo-principal .caixa #caixa-texto h1{
    text-transform: capitalize;
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
    color: #FF4081;
}

.conteudo-principal .caixa #caixa-texto p{
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    /* border: 1px solid red; */
}

.conteudo-principal .caixa input{
    border: 0;
    cursor: pointer;
    padding: 10px;
    width: 230px;
    font-size: 1.2em;
    color: #FFFFFF;
    background-color:#2E948A;
    border-radius: 62px;
    text-transform: lowercase;
}

.caixa-blog{
    display: flex;
    flex-wrap: wrap-reverse;
    padding: 30px;
    align-items: flex-end;
    justify-content: space-evenly;
}

.caixa-blog #caixa-texto-blog{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    /* border: 1px solid black; */
    width: 400px;
    height: 300px;
    padding: 30px;
}

.caixa-blog img{
    width: 400px;
    height: fit-content;
    padding: 30px;
}

.caixa-blog #caixa-texto-blog h1{
    
    text-transform: uppercase;
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
    color: #009688;
}

.caixa-material{
    display: flex;
    flex-wrap: wrap;
    /* border: 3px solid rgb(0, 17, 255); */
    justify-content: space-evenly;
    padding: 70px;
}

.caixa-material .caixa-link li,p,h1{
    padding: 15px;
}

.caixa-material div{
    margin: 30px 0;
}

.caixa-material a li{
    display: block;
    background-color: lightgray;    
    width: 518px;
    height: 259px;
}

.caixa-material a h1{
    text-transform: none;
    font-weight: 500;
    font-size: 30px;
    line-height: 34px;
    width: 518px;
    color: #FF4081;
}

.caixa-material a p{
    text-transform: none;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    width: 518px;
    color: #000000;
}


@media only screen and (max-width: 750px){

    .conteudo-principal .caixa{
        /* border: 3px solid blue; */
        justify-items: center;
        box-sizing: border-box;
        flex-direction: column;
        align-content: center;
        
    }

    .conteudo-principal .caixa #caixa-texto{
        /* border: 1px solid red; */
        display: flex;
        justify-items: center;
        min-width: 370px;
        height: 70vh;
        align-content: space-around;
     }

     .rodape{
        /* border: 1px solid red; */
        padding: 30px;
        height: 60vh;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
}
@media only screen and (max-width: 790px){
    .topo{
        display: flex;
        flex-direction: column;
        /* align-content: center; */
        justify-content: center;
        padding: 30px 100px;
    }
}

@media only screen and (max-width: 480px){

    .conteudo-principal .caixa img{
        /* border: 1px solid black; */
        width: fit-content;
        height: 30vh;
    }

    .conteudo-principal .caixa #caixa-texto{
        /* border: 1px solid red; */
        display: flex;
        justify-items: center;
        min-width: 270px;
        height: 70vh;
        align-content: space-around;
    }


    .topo .menu-icon{
        visibility: visible;
        margin-top: 30px;
        /* border: 1px solid red; */
    }

    .topo-menu{
        /* border: 1px solid red; */
        visibility: hidden;
        padding: 0;
    }

    .topo-logo{
        /* border: 1px solid red; */
        margin: 0;
    }

    .topo{
        /* border: 1px solid red;   */
        justify-items: stretch;
        justify-content: center;
        display: flex;
        align-items: center;
        align-content: center;
    }

    .caixa-blog img{
        padding: 0;
        width: 250px;
        height: fit-content;
    }


}

@media only screen and (max-width: 580px){

    .caixa-material{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        padding: 0;
    }
    .caixa-material .caixa-link p, 
    .caixa-material .caixa-link h1{
        width: fit-content;
    }

    .caixa-material .caixa-link li{
        width: 300px;
    }

    .caixa-material .caixa-link {
        width: 300px;
    }
    
}
