@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

li, a{
    text-decoration: none;
    list-style: none;
    color: white;
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: 700;
}

.topo-menu ul{
    display: flex;
}
.topo-menu li{
    margin-right: 21px;
}

.topo-menu{
    /* border: 3px solid purple; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.topo{
    /* border: 3px solid purple; */
    background-color:#2E948A;
    width: 100vw;
    min-height: 15vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* padding: 0 100px; */
    align-content: center;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
}

.topo-logo h1{
    visibility: hidden;
    font-size: 0.1em;
}

/* .topo-logo{
    border: 1px solid purple;
}  */

.topo-menu li:hover{
    font-size: 1.5em;
    transition: 0.3s;
    
}

.conteudo-principal{
   padding: 50px;
}

.topo .menu-icon{
    visibility: hidden;
    position: absolute;
    /* border: 1px solid red; */
}

.rodape{
    min-height: 29vh;
    background-color:#2E948A;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* .rodape .rodape-menu{
    border: 1px solid red;
}

.rodape-logo{
    border: 1px solid red;
} */

/* .rodape .rodape-button{
    border: 1px solid red;
} */

.rodape .rodape-menu li{
    font-weight: 400;
    text-transform: lowercase;
    padding: 5px;
}

.rodape .rodape-button input{
    cursor: pointer;
    padding: 10px;
    margin: 5px;
    width: 289px;
    display: block;
    border: 2px solid #FFFFFF;
    font-size: 1.2em;
    color: #FFFFFF;
    background-color:#2E948A;
    border-radius: 62px;
    text-transform: lowercase;
}

.conteudo-principal #titulo-cursos{
    padding: 50px;
    /* border: 1px solid black; */
}

.conteudo-principal #titulo-cursos h1{
    text-transform: capitalize;
    font-weight: 700;
    font-size: 60px;
    line-height: 69px;
    color: #FF4081;
}
.conteudo-principal #titulo-cursos p{
    font-weight: 400;
    font-size: 20px;
    color: #555555;
}

.conteudo-principal .caixa{
    padding: 50px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.conteudo-principal .caixa #caixa-texto{
    /* border: 1px solid black; */
    padding: 30px;
    width: 45vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 70vh;
}


.conteudo-principal .caixa #caixa-texto h1{
    text-transform: capitalize;
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
    color: #FF4081;
}

.conteudo-principal .caixa #caixa-texto p{
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    /* border: 1px solid red; */
}

.conteudo-principal .caixa input{
    border: 0;
    cursor: pointer;
    padding: 10px;
    width: 230px;
    font-size: 1.2em;
    color: #FFFFFF;
    background-color:#2E948A;
    border-radius: 62px;
    text-transform: lowercase;
}


@media only screen and (max-width: 750px){

    .conteudo-principal .caixa{
        /* border: 3px solid blue; */
        justify-items: center;
        box-sizing: border-box;
        flex-direction: column;
        align-content: center;
        
    }

    .conteudo-principal .caixa #caixa-texto{
        /* border: 1px solid red; */
        display: flex;
        justify-items: center;
        min-width: 370px;
        height: 70vh;
        align-content: space-around;
     }

     .rodape{
        /* border: 1px solid red; */
        flex-direction: column;
        flex-wrap: wrap;
    }    
}


@media only screen and (max-width: 480px){

.topo .menu-icon{
    visibility: visible;
    /* border: 1px solid red; */
}

.topo-menu{
    /* border: 1px solid red; */
    visibility: hidden;
    padding: 30px;
}

.topo-logo{
    /* border: 1px solid red; */
    margin: 0;
}

.topo{
    /* border: 1px solid red;   */
    justify-items: stretch;
    justify-content: center;
    display: flex;
    align-items: center;
    align-content: center;
}



}